{% extends 'base.html' %}

{% block title %}Потвърди изтриване на преподавател{% endblock %}

{% block content %}
    <h2 class="mb-4">Изтриване на преподавател</h2>
    <div class="alert alert-danger" role="alert">
        Сигурни ли сте, че искате да изтриете преподавател: <strong>"{{ teacher.first_name }} {{ teacher.last_name }}"</strong>?
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3 me-2">Потвърди изтриване</button>
        <a href="{% url 'teacher_detail' pk=teacher.pk %}" class="btn btn-secondary mt-3">Отказ</a>
    </form>
{% endblock %}
