    {% extends 'base.html' %}

    {% block title %}За нас{% endblock %}

    {% block content %}
        <h2 class="mb-4">За нас</h2>
        <p>Добре дошли в Школа Воденичарови – мястото, където знанието оживява и мечтите се превръщат в реалност!</p>
        <p>Ние сме посветени на предоставянето на висококачествено образование и подкрепа за ученици от всички възрасти и нива. Нашата мисия е да вдъхновяваме любопитство, да насърчаваме критичното мислене и да подготвяме бъдещите лидери и иноватори.</p>
        <p>В Школа Воденичарови вярваме, че всеки ученик е уникален и заслужава персонализиран подход. Нашите опитни и страстни преподаватели са тук, за да осигурят стимулираща учебна среда, където всеки може да разгърне пълния си потенциал.</p>
        <p>Предлагаме разнообразие от курсове по математика, история, програмиране, български език и литература, бизнес и мениджмънт, и много други. Независимо дали търсите помощ за домашни, подготовка за изпити или просто искате да разширите знанията си, ние имаме подходящия курс за вас.</p>
        <p>Присъединете се към семейството на Школа Воденичарови и открийте радостта от ученето!</p>
    {% endblock %}
    