    {% extends 'base.html' %}

    {% block title %}Контакти{% endblock %}

    {% block content %}
        <h2 class="mb-4">Свържете се с нас</h2>
        <p>Ще се радваме да отговорим на вашите въпроси и да ви помогнем!</p>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Нашият адрес:</h5>
                <p class="card-text">ул. "Примерна" № 123<br>
                гр. София, 1000<br>
                България</p>

                <h5 class="card-title mt-4">Телефон:</h5>
                <p class="card-text"><a href="tel:+359888123456">+359 888 123 456</a></p>

                <h5 class="card-title mt-4">Имейл:</h5>
                <p class="card-text"><a href="mailto:info@vodeni-school.com">info@vodeni-school.com</a></p>

                <h5 class="card-title mt-4">Работно време:</h5>
                <p class="card-text">Понеделник - Петък: 09:00 - 18:00 ч.<br>
                Събота: 10:00 - 14:00 ч.<br>
                Неделя: Почивен ден</p>
            </div>
        </div>

        <p class="mt-4">Очакваме ви!</p>
    {% endblock %}
    